<div #myIdentifier class="projects center">
  <div class="excelProject">
    <div class="card waves-effect waves-block waves-light">
      <div class="card-content ">
        <p class="name activator" >Wonderful Saigon electric Excel VBA Application!</p>
        <div class="author">
          <p>Author:  <span class="strong">Duong Nguyen</span></p>
          <p>Year:  <span class="strong">2014</span></p>
        </div>
        <div class="info">
          <span class="card-title activator grey-text text-darken-4">
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
      </div>
      <div class="card-reveal" style="padding-top:80px;">
        <div class="close">
            <span class="card-title grey-text text-darken-4">
              <i class="material-icons right">close</i>
            </span>
        </div>
        <p class="desc">When i worked for 
            Japanese Company
            (WSE). I created this 
            application to save 
            BIG Time for them!
            More details, 
            click button!</p>
        <a routerLink='/projects/excel' class="btn checkitout">Check it out</a>
      </div>
    </div>

  </div>
  <div class="mainProjects">
      <div class="card">
        <div class="card-content">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/projects/project1.png">
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">First FullStack App</span>
          <div class="close">
              <span class="card-title grey-text text-darken-4">
                <i class="material-icons right">close</i>
              </span>
          </div>
          <p class="desc">Put all knowlegdes I learning 
              to create this forum, More Informations 
              click check out button! </p>
          <a href="https://dnguyenlearning.herokuapp.com/" class="btn checkitout">Check it out</a>                
        </div>
      </div>


      <div class="card">
        <div class="card-content">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="assets/images/projects/project2.png">
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">First BIG project
          </span>
          <div class="close">
              <span class="card-title grey-text text-darken-4">
                <i class="material-icons right">close</i>
              </span>
          </div>
          <p class="desc">Im an enginneer to work on both fields
              Electronic and Mechanical.
              More Details , click button!</p>
          <a routerLink='/projects/amudisplay' class="btn checkitout">Check it out</a>                
        </div>
      </div>
  </div>
  <div class="smallProject">
    <div class="card amuwebsite">
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4" style="font-weight:700">
          AMUWebsite
        </span>
        <p>
            We need a website 
            to sell the product.
        </p>
        <div class="info">
        <span class="card-title activator grey-text text-darken-4">
          <i class="material-icons right">more_vert</i>
        </span>
      </div>
      </div>
      <div class="card-reveal">
          <div class="close">
              <span class="card-title grey-text text-darken-4">
                <i class="material-icons right">close</i>
              </span>
          </div>
        <p class="desc">Branding is reason 
            to make us Building a
            Website </p>
        <a href='https://amudisplay.herokuapp.com/' class="btn checkitout">Check it out</a>            
      </div>
    </div>
    <div class="card small">
        <div class="card-content">
          <span class="card-title  activator grey-text text-darken-4" style="font-weight:700">
              Smaill projects
          </span>
          <div class="info">
          <span class="card-title activator grey-text text-darken-4">
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        </div>
        <div class="card-reveal">
            <div class="close">
                <span class="card-title grey-text text-darken-4">
                  <i class="material-icons right">close</i>
                </span>
            </div>
          <p class="desc">
              Some small projects 
              helping me building
               forum!  
          </p>
          <a routerLink='/projects/somes' class="btn checkitout">Check it out</a>            
        </div>
      </div>
  </div>
</div>