<div class="about">
    <div class="card-panel">
      <div class="row">
        <div class="col s4 m3 title">
            <p>Fullname:</p>
            <p>Age:</p>
            <p>University:</p>
            <p>Graduated year:</p>
            <p>Companies:</p>
            <div class="row">
              <div class="col s6 offset-s6">
                <p>Name:</p>
                <p>Year:</p>
                <p>Position:</p>
                <br>
                <p>Name:</p>
                <p>Year:</p>
                <p>Position:</p>
              </div>
            </div>
        </div>
        <div class="col s8 m9">
            <p>Nguyen Phu Duong</p>
            <p>25</p>
            <p>Ho Chi Minh City University of Technology and Education</p>
            <p>2014</p>
            <p>&nbsp;</p>
            <p>Wonderful Saigon Electric (Japanese)</p>
            <p>2014-2015</p>
            <p>CA Position</p>
            <br>
            <p>AMUDislay (USA)</p>
            <p>2015-now</p>
            <p>Mechanical and Electronic Engineer </p>
        </div>
      </div>
    </div>    
</div>