<div class="amudisplay">
  <div class="row">
    <div class="col s12 m5 desc offset-m1 center">
      <h5>
        <img src="assets/images/eachproject/amudisplaylogo.png" alt="">
      </h5>
      <div class="content">
        <p>After leaving japanese Company. I joined this project till now with my brother in USA. At beginning, I programed for Arduino made the machine run as expected. Then, My brother gave me money to learn about Mastercam. Because at beginning we will buy metarials from supplier from china. But He knew we can produce buy ourself. That's why I can use mastercam and solidwork to make a real part. I had all parts in my gmail. This took me almost 2 years and half. Because we want it to be perfect in looking and easy to produce.
        </p>
        <p class="strong">What i learned from this project :</p>
        <p>&nbsp;&nbsp;- Facing and Solving Real problem.</p>
        <p>&nbsp;&nbsp; - All processes from beginning to end.</p>
        <p>&nbsp;&nbsp;- Patient, Worked under pressure.</p>
        <p>&nbsp;&nbsp;- Can create a Product.</p>
      </div>
    </div>
    <div class="col s12 m5 images left">
      <h5>Software I used:</h5>
      <div class="content">
        <p>More information : <a href="https://amudisplay.herokuapp.com/" class="btn right">Visit</a></p>
      </div>
      <div class="img" >
        <img  class="right" src="assets/images/eachproject/excelPro1.png" alt="">
        <img class="left" src="assets/images/eachproject/excelPro1.png" alt="">
        <img class="right"  src="assets/images/eachproject/excelPro1.png" alt="">
      </div>
    </div>
  </div>
</div>