<div class="skills">
    <div class="overlay"></div>
    <div class="content">
        <div class="solugan">
            <p>If You know the solution, you will fix
                it easy, So that who FOUND the 
                solution will be leader!
            </p>
        </div>
        <div class="software">
            <div class="title">
                <p>All software had used in my projects:</p>
            </div>
            <div class="row mechanical">
                <div class="col s6" style="text-align:left">
                    <p>MCU softwares:</p>
                    <div class="images">
                        <img src="assets/images/softwares/arduino.png" alt="arduino">
                        <img src="assets/images/softwares/eagle.png" alt="eagle">
                    </div>
                </div>
                <div class="col s6" style="text-align:right">
                    <p>Mechanical Softwares:</p>
                    <div class="images">
                        <img src="assets/images/softwares/mastercam.png" alt="arduino">
                        <img src="assets/images/softwares/solidwork.png" alt="eagle">
                    </div>
                </div>
            </div>
            <div class="row websoftwares">
                <div class="desc">Web and other softwares:</div>
                <div class="col s12" style="text-align:left">
                    <div class="front">
                        <div class="desc"><p>Front-end:</p></div>
                        <div class="images">
                            <img src="assets/images/softwares/html.png" alt="arduino">
                            <img src="assets/images/softwares/css.png" alt="eagle">
                            <img src="assets/images/softwares/bootstrap.png" alt="eagle">
                            <img src="assets/images/softwares/jquery.png" alt="eagle">
                            <img src="assets/images/softwares/js.png" alt="eagle">
                            <img src="assets/images/softwares/ang4.png" alt="eagle">
                        </div>
                    </div>
                    <div class="back">
                        <div class="desc"><p>Back-end:</p></div>
                        <div class="images">
                            <img src="assets/images/softwares/expressjs.png" alt="arduino">
                            <img src="assets/images/softwares/mongodb.png" alt="eagle">
                            <img src="assets/images/softwares/nodejs.png" alt="eagle">
                            <img src="assets/images/softwares/passportjs.png" alt="eagle">
                            <img src="assets/images/softwares/stripe.png" alt="eagle">
                            <img src="assets/images/softwares/paypal.png" alt="eagle">
                        </div>
                    </div>
                    <div class="other">
                        <div class="desc"><p>Others:</p></div>
                        <div class="images">
                            <img src="assets/images/softwares/github.png" alt="arduino">
                            <img src="assets/images/softwares/heroku.png" alt="eagle">
                            <img src="assets/images/softwares/excel.png" alt="eagle">
                            <img src="assets/images/softwares/ps.png" alt="eagle">
                            <img src="assets/images/softwares/xd.png" alt="eagle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>