
<div class="card-panel center">
    <h4>Welcome! Feeling good today?</h4>
    <h5>Each project have another skill!</h5>
</div>

<div class="carousel  center" style="margin-top:-50px" data-indicators="true">
    <a class="carousel-item" >
        <img src="assets/images/projects/forum.png">
        <a class="moreInfo" href="https://dnguyenlearning.herokuapp.com/" style="color:white;">
            <i class="material-icons right">more_vert</i>
        </a>
    </a>
    <a class="carousel-item"  >
        <img src="assets/images/projects/amuweb.png">
        <a class="moreInfo" href="https://amudisplay.herokuapp.com/" style="color:white;">
            <i class="material-icons right">more_vert</i>
        </a>
    </a>
    <a class="carousel-item">
        <img src="assets/images/projects/amudisplay.png">
        <a class="moreInfo" routerLink="/projects/amudisplay" style="color:white;">
            <i class="material-icons right">more_vert</i>
        </a>
    </a>
    <a class="carousel-item">
        <img src="assets/images/projects/small.png">
        <a class="moreInfo" routerLink="/projects/somes" style="color:white;">
            <i class="material-icons right">more_vert</i>
        </a>
    </a>
    <a class="carousel-item">
        <img src="assets/images/projects/excel1.png">
        <a class="moreInfo" routerLink="/projects/excel" style="color:white;">
            <i class="material-icons right">more_vert</i>
        </a>
    </a>
</div>

