<div class="excel">
    <div class="row">
      <div class="col s12 m5 desc offset-m1 center">
        <h5 >Wonderful Saigon Electric App</h5>
        <div class="content">
          <p>I have 5 months experience workingfor japanese company. First position was collecting data from factory and build sumary chart. workingon excel only. And I felt very boring. Each day, you have to choose 3 mains errors like dust to solve. and you need data to see what happened. if you want highest percent that you can guess what made error. you have to see lot of excel charts. because 5 or more machines can make that error. So you need to give them 5 charts right? 1 error with 5 charts.. => 3 errors 15 charts? per day? it's big problem. problems about timing.
          </p>
          <p>So i decide to make an app using VBA. I went to my boss and told him I can made app in 2 weeks that can solved that BIG problems.              
          </p>
          <p>You only need to type process, machine of line name, category, model, Date. in 1 MINUTES. It shows you the chart.
          </p>
        </div>
      </div>
      <div class="col s12 m5 images left">
        <h5>Features of App:</h5>
        <div class="content">
          <p>-Save BIG Time : before you need one day to make 6 charts with full focusing. Now, you only type some infos and it show you charts.
          </p>
          <p>-You can focus on solving problems not guessing.
          </p>
        </div>
        <div class="center img">
          <img src="assets/images/eachproject/excelPro1.png" alt="" style="margin:10px 0;">
          <img src="assets/images/eachproject/excelPro1.png" alt="">
        </div>
      </div>
    </div>
</div>